export CONSUMER_NAME=GoUserService
export PROVIDER_NAME=GoService
export PACT_DIR=$(PWD)/pacts
export LOG_DIR=$(PWD)/log
export PACT_BROKER_PROTO=https
export PACT_BROKER_URL=arkoselabs.pactflow.io

if [ -e .envrc.local ]
then
    source .envrc.local
fi
