export PROVIDER_NAME=GoUserService
export CONSUMER_NAME=GoAdminService
export PACT_DIR=$(PWD)/pacts
export LOG_DIR=$(PWD)/log
export PACT_BROKER_PROTO=https
export PACT_BROKER_URL=arkoselabs.pactflow.io
export PACT_DISABLE_TOOL_VALIDITY_CHECK=1

if [ -e .envrc.local ]
then
    source .envrc.local
fi
