name: Provider Go Verification Published

on:
  repository_dispatch:
    types:
      - provider_verification_published

env:
  PACT_BROKER_BASE_URL: https://arkoselabs.pactflow.io
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
  GIT_COMMIT: ${{ github.sha }}
  GITHUB_REF: ${{ github.ref }}

jobs:
  can-i-deploy:
    runs-on: ubuntu-latest
    steps:
      - run: docker pull pactfoundation/pact-cli:latest
      - name: Can I deploy?
        run: make deploy-consumer

  deploy:
    runs-on: ubuntu-latest
    needs: can-i-deploy
    steps:
      - uses: actions/checkout@v2
      - run: docker pull pactfoundation/pact-cli:latest
      - name: Deploy
        run: make deploy
        if: github.ref == 'refs/heads/master'
