name: Test Go Build and Deploy

on:
  push:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to use"
        required: true
        default: "master"
        type: string

env:
  PACT_BROKER_BASE_URL: https://arkoselabs.pactflow.io
  PROVIDER_BASE_URL: https://gorest.co.in/public/v2
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
  GIT_COMMIT: ${{ github.sha }}
  GIT_REF: ${{ github.ref }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: docker pull pactfoundation/pact-cli:latest
      - uses: actions/checkout@v3
      - name: Test
        working-directory: provider
        run: make provider

  can-i-deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: docker pull pactfoundation/pact-cli:latest
      - uses: actions/checkout@v3
      - name: Can I deploy?
        working-directory: provider
        env:
          PACTICIPANT: "GoUserService"
          PACT_BROKER_PROTO: ${{ secrets.PACT_BROKER_PROTO }}
          PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
          PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        run: make deploy-provider

  deploy:
    runs-on: ubuntu-latest
    needs: can-i-deploy
    steps:
      - uses: actions/checkout@v2
      - run: docker pull pactfoundation/pact-cli:latest
      - name: Deploy
        env:
          PACTICIPANT: "GoUserService"
          PACT_BROKER_PROTO: ${{ secrets.PACT_BROKER_PROTO }}
          PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
          PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        run: make deploy
