name: Test Go Build and Deploy

on:
  push:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to use"
        required: true
        default: "master"
        type: string

env:
  PACT_BROKER_BASE_URL: https://arkoselabs.pactflow.io
  PROVIDER_BASE_URL: https://gorest.co.in/public/v2
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
  GIT_COMMIT: ${{ github.sha }}
  GIT_REF: ${{ github.ref }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: "*"
      - name: Install
        working-directory: ./provider
        run: make install
      - name: Test
        working-directory: ./provider
        run: make provider

  can-i-deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: docker pull pactfoundation/pact-cli:latest
      - name: Can I deploy?
        working-directory: ./provider
        run: make deploy-provider

  deploy:
    runs-on: ubuntu-latest
    needs: can-i-deploy
    steps:
      - uses: actions/checkout@v2
      - run: docker pull pactfoundation/pact-cli:latest
      - name: Deploy
        working-directory: ./provider
        run: make deploy
