name: Test and Publish Go Contract

on:
  push:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to use"
        required: true
        default: "master"
        type: string

env:
  PACT_BROKER_BASE_URL: https://arkoselabs.pactflow.io
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
  GIT_COMMIT: ${{ github.sha }}
  GIT_REF: ${{ github.ref }}
  PACT_PROVIDER: contract-testing-provider

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ">=1.17.0"
      - run: go get github.com/pact-foundation/pact-go@v1
      - name: check and set path
      - run: |
          echo "$PATH"
          echo pact/bin >> $GITHUB_PATH
          echo "$HOME/pact/bin" >> $GITHUB_PATH
          echo "$PATH"
      - name: Test
        working-directory: consumer
        run: make consumer
      - name: Publish pacts
        working-directory: consumer
        run: make publish
