name: Test and Publish Go Contract

on:
  push:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to use"
        required: true
        default: "master"
        type: string

env:
  PACT_BROKER_BASE_URL: https://arkoselabs.pactflow.io
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
  GIT_COMMIT: ${{ github.sha }}
  GIT_REF: ${{ github.ref }}
  PACT_PROVIDER: contract-testing-provider

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: configure go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.17.0"
      - name: Get pact with Go
        run: go get github.com/pact-foundation/pact-go@v1
      - name: install go-pact
        run: |
          curl -LO https://github.com/pact-foundation/pact-ruby-standalone/releases/download/v1.91.0/pact-1.91.0-linux-x86_64.tar.gz
          tar xzf pact-1.91.0-linux-x86_64.tar.gz
          ls -al
          pwd
          mkdir "${GITHUB_WORKSPACE}/consumer/pacts"
          cd pact/bin
          ./pact-mock-service --help start
          ./pact-provider-verifier --help verify
      - name: check and set path
        shell: bash
        run: |
          echo "$PATH"
          echo "${{github.workspace}}/pact/bin" >> $GITHUB_PATH
          echo "$GITHUB_WORKSPACE/pact/bin" >> $GITHUB_PATH
          echo "$HOME/pact/bin" >> $GITHUB_PATH
          echo "/github/workspace/pact/bin" >> $GITHUB_PATH
          echo "$HOME/.pact/bin" >> $GITHUB_PATH
      - name: Test
        working-directory: consumer
        env:
          CONSUMER_NAME: GoUserService
          PROVIDER_NAME: GoAdminService
        run: make consumer
      - name: Check for pact files
        run: ls -al
      - name: Publish pacts
        working-directory: consumer
        env:
          PACT_DIR: "${GITHUB_WORKSPACE}/consumer/pacts"
          PACT_BROKER_PROTO: ${{ secrets.PACT_BROKER_PROTO }}
          PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
          PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        run: make publish
